In [1]:
import pandas as pd
import re
import numpy as np
import functions

In [2]:
cur = functions.connectToPs()

Connecting to Postgree...

<connection object at 0x000002292E112598; dsn: 'user=oxbigdatabi password=xxx dbname=bigdatabi host=bigdatabi.ckq5duwtue6h.eu-central-1.rds.amazonaws.com', closed: 0>

# Tabla Detalle

In [11]:
prueba = Detalle(cur)

In [12]:
prueba.to_excel('./detalle_cartera_20200123_excel_3.xlsx',encoding='CP1252',index=False)

# Base

In [3]:
df = functions.base(cur)

In [4]:
print('Filtas Cartera:', len(df))
print('Total ventas:', len(df[df['isSold']==1]))
print('Total cancelaciones:', len(df[df['isCancelled']==1]))
print('Total assets:', len(df[df['isAsset']==1]))
print('Total bajas:', len(df[df['isBaja']==1]))
print('Total assets activos:', len(df[df['isActive']==1]))

Filtas Cartera: 1243
Total ventas: 1243
Total cancelaciones: 38
Total assets: 1131
Total bajas: 217
Total assets activos: 914

In [5]:
df.head(2)

,segmento,assetid,cif,canal_venta,product_name,migrado,deactivation_date,cancellation_date,rfb__c,purchase_date__c,Family,Velocity,isNeba,isSold,isAsset,isBaja,isActive,isCancelled
0,3-NOTRIAL,02i0N00000LGfMCQA1,53191185M,WEB,X Fiber 200 - neba,None,2019-03-27 16:35:00,NaT,2019-02-27 00:00:01,2019-02-21 00:00:01,X FIBER,200,1,1,1,1,0,0
1,3-NOTRIAL,02i0N000006M6bnQAC,B85204915,DHO,Assets,None,NaT,NaT,2019-02-12 00:00:01,2019-02-12 00:00:01,X MUSIC,,0,1,1,0,1,0

# VENTAS

In [6]:
functions.ass_vta_fam_mes(df,0)

purchase_year  2018         2019                                               \
purchase_month   10  11  12    1   2   3   4   5    6    7   8    9   10   11
Family
X FIBER           0   4   8    7  10   2   8  13   17   17   4   20   17    2
X MUSIC           3   2   3    4   7   2   0   6    0    0   0    5    0    0
X PRIVACY         0   5   4    0  10  12   3  12   13    6   2    9    6    0
X PROTECTION      0   0   4    2   5  25  13   4   29   20   5   19   28   28
X SECURITY        0   0   2    2   0   0   0   5   13    5   0   53   28    2
X UCOM            0  13  11   20  22  11  16  22   65   57  12   59   94   78
All               3  24  32   35  54  52  40  62  137  105  23  165  173  110

purchase_year       2020   All
purchase_month   12    1
Family
X FIBER           3    7   139
X MUSIC           0    1    33
X PRIVACY         2   11    95
X PROTECTION      4    8   194
X SECURITY        2    1   113
X UCOM          120   69   669
All             131   97  1243

In [7]:
functions.ass_vta_prod_mes(df)

purchase_year                   2018         2019                            \
purchase_month                    10  11  12    1   2   3   4   5    6    7
Family       product_name
X FIBER      X Fiber 100 - neba    0   0   0    1   2   0   1   2    0    1
             X Fiber 100 - own     0   0   4    3   2   0   4   3   12    1
             X Fiber 200 - neba    0   1   1    0   3   1   2   2    4    5
             X Fiber 200 - own     0   0   1    0   0   0   0   6    0    2
             X Fiber 50 - neba     0   1   1    1   3   0   0   0    0    4
             X Fiber 50 - own      0   2   1    2   0   1   1   0    1    4
X MUSIC      Assets                3   2   3    4   7   2   0   6    0    0
X PRIVACY    X Privacy 100         0   0   0    0   2   0   2   0    3    0
             X Privacy 200         0   0   1    0   0   0   0   4    5    1
             X Privacy 50          0   5   3    0   8  12   1   8    5    5
X PROTECTION Assets                0   0   4    2   5  25  13   4   29   20
X SECURITY   X Security 100        0   0   2    2   0   0   0   5   11    2
             X Security 200        0   0   0    0   0   0   0   0    2    3
X UCOM       Teamwork+PBX          0  13  11   20  22  11  16  22   65   57
All                                3  24  32   35  54  52  40  62  137  105

purchase_year                                           2020   All
purchase_month                    8    9   10   11   12    1
Family       product_name
X FIBER      X Fiber 100 - neba   1    1   13    0    1    0    23
             X Fiber 100 - own    0   15    4    0    0    0    48
             X Fiber 200 - neba   0    2    0    0    0    3    24
             X Fiber 200 - own    1    2    0    1    2    2    17
             X Fiber 50 - neba    1    0    0    1    0    0    12
             X Fiber 50 - own     1    0    0    0    0    2    15
X MUSIC      Assets               0    5    0    0    0    1    33
X PRIVACY    X Privacy 100        0    0    2    0    2    0    11
             X Privacy 200        0    4    4    0    0   10    29
             X Privacy 50         2    5    0    0    0    1    55
X PROTECTION Assets               5   19   28   28    4    8   194
X SECURITY   X Security 100       0   50   27    0    2    0   101
             X Security 200       0    3    1    2    0    1    12
X UCOM       Teamwork+PBX        12   59   94   78  120   69   669
All                              23  165  173  110  131   97  1243

In [8]:
functions.cli_vta_fam_mes(df,0)

purchase_year  2018         2019                                              \
purchase_month   10  11  12    1   2   3   4   5   6   7   8   9  10  11  12
canal_venta
DHO               2   6   7    9  22  13   7  15  34  43  12  35  40  36  34
IT integrator     0   1   4    3   1   1   8   3   5   4   1   6   2   2   1
WEB               1   4   7    1   1   7   4   7   6   5   3   9   7   4   3
All               3  11  18   13  24  21  19  25  45  52  16  50  49  42  38

purchase_year  2020  All
purchase_month    1
canal_venta
DHO              26  341
IT integrator     1   43
WEB               4   73
All              31  457

# Altas

In [4]:
df_altas = functions.base_altas(df)

In [5]:
df_altas.head(2)

,cif,canal_venta,assets_act,rfb,deactivation_date,assets_tot,isClient,isActive,assets_dea,isBaja
0,03817373V,WEB,0,2019-11-20 00:00:01,2019-11-20 15:29:08,2,1,0,2,1
1,07477239P,DHO,0,2018-10-25 09:38:28,2019-01-21 09:13:32,1,1,0,1,1

In [7]:
functions.cli_altas_bajas_mes(df_altas,canal=0)

year     2018        2019                                             2020
month      10 11  12   1   2   3   4   5   6   7   8   9   10  11  12   1
isClient    3  5  18   13  20  14  18  21  36  37  21  40  44  39  25   28
isBaja      0  0   1    3   0   2   6   8   5   4   5   8  10   7   7    7