In [1]:
import pandas as pd
import re
import numpy as np
from src import functions
import datetime

In [2]:
cur = functions.connectToPs()

Connecting to Postgree...

<connection object at 0x00000146FFF918C8; dsn: 'user=oxbigdatabi password=xxx dbname=bigdatabi host=bigdatabi.ckq5duwtue6h.eu-central-1.rds.amazonaws.com', closed: 0>

In [3]:
df = functions.base(cur)

In [8]:
df.to_csv('../df.csv ',encoding='CP1252')

In [17]:
df_altas.to_csv('../df_altas.csv ',encoding='CP1252')

In [4]:
df_altas = functions.base_altas(df)

In [4]:
detalle = functions.detalle(cur)

In [5]:
detalle.head()

,segmento,Family,product_name,companyname,sitename,cod_postal,created_as_trial,purchase_date,cancellation_date,service_date,...,Segmento_Empleados,assetid,asset_status,migrado,assetpadre_mig,assethijo_mig,rfb_migration,date_migration,purchase_migration,product_name_ok
0,1-GRATIS,X PROTECTION F,X Protection,PROMOVIL,Coslada,49023,false,2019-03-26 00:00:01,NaT,2019-03-26 00:00:01,...,,02i0N00000LHyy5QAD,Activated,None,None,None,NaT,NaT,NaT,X Protection
1,1-GRATIS,X PROTECTION F,X Protection,PROMOVIL,Coslada,49023,false,2019-03-26 00:00:01,NaT,2019-03-26 00:00:01,...,,02i0N00000LHyy6QAD,Activated,None,None,None,NaT,NaT,NaT,X Protection
2,1-GRATIS,X PROTECTION F,X Protection,IMT TECHNOCENTRE ORANGE FRANCE,France 1,28012,true,2019-03-27 00:00:01,NaT,2019-04-26 00:00:01,...,,02i0N00000LI1E0QAL,Activated,None,None,None,NaT,NaT,NaT,X Protection
3,1-GRATIS,X MUSIC F,X Music,IMT TECHNOCENTRE ORANGE FRANCE,France 1,28012,false,2019-03-27 00:00:01,NaT,2019-03-27 00:00:01,...,,02i0N00000LI2LUQA1,Activated,None,None,None,NaT,NaT,NaT,X Music
4,1-GRATIS,X PROTECTION F,X Protection,ORANGE B4B TECHNOLOGIES SAU,Sede VULA Nueva Arquitectura,28012,false,2019-04-30 00:00:01,2019-05-03 08:38:50,NaT,...,,02i0N00000LfcwYQAR,Cancelled,None,None,None,NaT,NaT,NaT,X Protection

In [15]:
df[df['assetid']=='02i0N00000PfMuWQAV']

,assetid,product_name,Family,cif,canal_venta,purchase_date__c,cancellation_date,rfb__c,deactivation_date,mig_in_date,migrado,isSold,isCancelled,isAsset,isActive,isBaja
1105,02i0N00000PfMuWQAV,Teamwork+PBX,X UCOM,B76686716,DHO,2020-01-02 00:00:01,NaT,2020-01-02 00:00:01,NaT,2020-01-07 08:52:01,1,1,0,1,1,0

## Ventas

In [18]:
a = functions.ass_vta_mes(df,0)
# a.iloc[a.index.get_level_values('Family') == 'X UCOM']

In [26]:
a.iloc[0].sum()

1290

In [28]:
a

,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01
isSold,3,24,34,35,56,54,41,62,137,105,23,166,173,110,131,136

In [7]:
functions.cli_altas_mes_agg(df_altas,tipo=0)

,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01
isClient,3,5,18,13,20,14,18,21,36,36,21,40,44,39,25,39

In [16]:
x = df[df['Family']=='X UCOM']
x.to_csv('../x.csv ',encoding='CP1252')

In [4]:
# functions.ventas(df)

In [5]:
# functions.altas(df,df_altas )

In [7]:
# functions.bajas(df,df_altas)

In [8]:
mig_df=functions.migBase(cur)

In [23]:
migin, migout = functions.mig_producto_mes(mig_df)

In [25]:
migin.reset_index(inplace=True)
migin['index'] = migin['canal_venta']+'_'+migin['product_name']
migin.drop(columns=['canal_venta','Family','product_name'],inplace=True)
migin.set_index(['index'],inplace=True)

In [26]:
migin

,level_0,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01
index,,,,,,,,,,,,,,,,,
DHO_X Fiber 100 - neba,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
DHO_Teamwork+PBX,1,0,0,0,0,0,0,0,11,0,2,1,1,3,1,0,1
IT integrator_Teamwork+PBX,2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [33]:
getVelocityFrom('20')

'Portable 20'