In [1]:
import pandas as pd
import re
import numpy as np
from src import functions
import datetime

In [2]:
cur = functions.connectToPs()

Connecting to Postgree...

<connection object at 0x00000210386518C8; dsn: 'user=oxbigdatabi password=xxx dbname=bigdatabi host=bigdatabi.ckq5duwtue6h.eu-central-1.rds.amazonaws.com', closed: 0>

In [3]:
df = functions.base(cur)

In [17]:
df_altas.to_csv('../df_altas.csv ',encoding='CP1252')

In [16]:
df_altas = functions.base_altas(df)

In [12]:
detalle = functions.detalle(cur)

In [20]:
detalle[detalle['cif']=='B67459669'].T

                                                                 1901
segmento                                                    3-NOTRIAL
Family                                                        X FIBER
product_name                                  X Fiber 100 Mbps - NEBA
companyname         ONEXT SISTEMES INFORMATICS I TELECOMUNICACIONS SL
sitename                   sede Carrer Francesc Pla El Vigata 6 Bajos
cod_postal
created_as_trial                                                false
purchase_date                                     2020-01-24 00:00:01
cancellation_date                                                 NaT
service_date                                      2020-01-30 00:00:01
rfb_date                                          2020-01-30 00:00:01
deactivation_date                                                 NaT
canal_venta                                                       DHO
partnername                                                     OSHOP
price                                                              27
precio_dto
%_dto
cif                                                         B67459669
Segmento_Empleados
assetid                                            02i0N00000PgShmQAF
asset_status                                                Activated
migrado                                                          None
assetpadre_mig                                                   None
assethijo_mig                                                    None
rfb_migration                                                     NaT
date_migration                                                    NaT
purchase_migration                                                NaT
product_name_ok                                    X Fiber 100 - neba

In [15]:
df[df['assetid']=='02i0N00000PfMuWQAV']

,assetid,product_name,Family,cif,canal_venta,purchase_date__c,cancellation_date,rfb__c,deactivation_date,mig_in_date,migrado,isSold,isCancelled,isAsset,isActive,isBaja
1105,02i0N00000PfMuWQAV,Teamwork+PBX,X UCOM,B76686716,DHO,2020-01-02 00:00:01,NaT,2020-01-02 00:00:01,NaT,2020-01-07 08:52:01,1,1,0,1,1,0

## Ventas

In [8]:
functions.ass_vta_mes(df,0)
# a.iloc[a.index.get_level_values('Family') == 'X UCOM']

,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01
isSold,3,24,34,35,56,54,41,62,137,105,23,166,173,110,131,126

In [24]:
functions.cli_altas_mes_agg(df_altas,tipo=0)

,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01
isClient,3,5,18,13,20,14,18,21,36,36,21,40,44,39,25,35

In [16]:
x = df[df['Family']=='X UCOM']
x.to_csv('../x.csv ',encoding='CP1252')

In [4]:
# functions.ventas(df)

In [5]:
# functions.altas(df,df_altas )

In [7]:
# functions.bajas(df,df_altas)

In [8]:
mig_df=functions.migBase(cur)

In [23]:
migin, migout = functions.mig_producto_mes(mig_df)

In [25]:
migin.reset_index(inplace=True)
migin['index'] = migin['canal_venta']+'_'+migin['product_name']
migin.drop(columns=['canal_venta','Family','product_name'],inplace=True)
migin.set_index(['index'],inplace=True)

In [26]:
migin

,level_0,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01
index,,,,,,,,,,,,,,,,,
DHO_X Fiber 100 - neba,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
DHO_Teamwork+PBX,1,0,0,0,0,0,0,0,11,0,2,1,1,3,1,0,1
IT integrator_Teamwork+PBX,2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [33]:
getVelocityFrom('20')

'Portable 20'